
[Desktop Entry]
Name=PenMQTT
Comment=MQTT Pentest Tool Launcher
Exec=/home/moon/pentest/fix_banget/Penmqtt/bas.sh
Icon=/home/moon/pentest/fix_banget/Penmqtt/assets/icon2.jpeg
Terminal=true
Type=Application
Categories=Utility;
Path=/home/moon/pentest/fix_banget/Penmqtt
